*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

/* header */
.main_header {
    position: absolute;
    left: 0;
    right: 0;
}
header .service_banner .header_content {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 20px;
    padding: 40px 0 20px 0;
    align-items: center;
}
header .service_banner .header_content .service_logo h1 {
    margin: 0;
    padding: 0;
    clear: both;
    font-size: 2em;
    margin: 0.67em 0;
}
header .service_banner .header_content .service_logo h1 a {
    font-size: 36px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    background-color: transparent;
}
header .service_banner .header_content .service_search {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
}
header .service_banner .header_content .service_search .search_bar {
    display: flex;
    flex: 1;
    margin: 0 auto;
    position: relative;
}
header .service_banner .header_content .service_search .search_bar input {
    display: flex;
    flex: 1;
    padding: 10px 50px 10px 20px;
    height: 45px;
    font-size: 16px;
    color: rgb(22, 28, 45, 0.7);
    border: none;
    font-weight: 400;
    border-radius: 6px;
    position: relative;
    right: 0;
    background: white;
    outline: 0;
    border: 1px solid #ff6600;
}
header .service_banner .header_content .service_search .search_bar span {
    position: absolute;
    right: 20px;
    font-size: 15px;
    top: 15px;
    cursor: pointer;
}
header .service_banner .header_content .service_search .toogle i {
    font-size: 1.85em;
    color: white;
}
header .service_banner .header_content .service_search .nav i {
    cursor: pointer;
    font-size: 1.85em;
    color: white;
}
header .service_banner .header_content .service_search .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.7);
}
header .service_banner .header_content .service_search .overlay .closebtn {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 40px;
    top: 40px;
    overflow: hidden;
    border: none;
    background: #ff6600;
    color: #fff;
    border-radius: 6px;
}
header .service_banner .header_content .service_search .overlay .closebtn i {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
header .service_banner .header_content .service_search .overlay nav {
    text-align: center;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
header .service_banner .header_content .service_search .overlay nav ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative;
}
header .service_banner .header_content .service_search .overlay nav ul li {
    display: block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    line-height: 3em;
}
header .service_banner .header_content .service_search .overlay nav ul li a {
    font-size: 20px;
    font-weight: 600;
    display: block;
    color: #fff;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    text-decoration: none;
}
header .service_banner .header_content .service_search .overlay nav ul li a:hover {
    color: #ff6600;
}
header .service_banner .header_content .overlay-scale {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
    transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}
header .service_banner .header_content .overlay-scale.open{
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
}
header .service_banner .header_content .overlay .overlay-close {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 40px;
    top: 40px;
    overflow: hidden;
    border: none;
    background: #ff6600;
    color: white;
    border-radius: 6px;
}


/* banner background */
.banner_background {
    background-size: cover;
    background-image: linear-gradient(to right, rgb(236 98 6 / 98%), rgb(5 3 0 / 83%)), url("./../img/banner2.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 350px;
    
}
.banner_background .banner_img {
    padding-top: 90px;
}
.banner_background .banner_img .banner_breadcrumb {
    text-align: center
}
.banner_background .banner_img .banner_breadcrumb ul {
    padding-top: 81px;
    position: relative;
    vertical-align: middle;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 600;
    color: #fff;
}
.banner_background .banner_img .banner_breadcrumb ul a {
    color: #ff6600;
    font-weight: 600;
    text-decoration: none;
}

/* offer */
.offer{
    padding: 5rem;
}
.offer .offer_content {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding: 0 2rem;
}
.offer .offer_content .content_left {
    position: relative;
    width: 40%;
    padding-right: 15px;
    padding-left: 15px;
}
.offer .offer_content .content_right {
    position: relative;
    width: 60%;
    padding-right: 15px;
    padding-left: 15px;
}
.offer .offer_content .content_left .title {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 1px;
    color: #ff6600;
    display: block;
    font-family: 'Pacifico', cursive;
}
.offer .offer_content .content_left .content {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.offer .offer_content .content_right p:first-child {
    font-size: 18px;
    line-height: 28px;
    color: black;
    font-family: 'Quicksand', sans-serif;
}

.offer .offer_content .content_right p:last-child {
    margin-top: 1rem;
    font-size: 18px;
    line-height: 28px;
    color: black;
    font-family: 'Quicksand', sans-serif;
}



/* menu */
.menu {
    position: relative;
    padding: 3rem 0;
}
.menu .menu_content {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
}
.menu .menu_content .course {
    padding: 5% 15%;
    transition: all 0.5s ease 0s;
    border-radius: 8px;
    box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03);
    background-color: white;
    position: relative;
    border: 1px solid #eee;
    margin: 4% 5%;
}
.menu .menu_content .course:hover {
    box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.1);
}
.menu .menu_content .course:hover .course_header .course_icon  {
    background-color: #ff6600;
    transition: 0.3s ease-in-out;
}
.menu .menu_content .course:hover .course_header .course_icon i {
    color: white;
    transition: 0.3s ease-in-out;
}
.menu .menu_content .course .course_header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 30px;
    align-items: center;
    margin: 4% 0;
}
.menu .menu_content .course .course_header .course_icon {
    width: 70px;
    height: 70px;
    text-align: center;
    background: rgb(130 115 252 / 5%);
    line-height: 70px;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}
.menu .menu_content .course .course_header .course_icon i {
    color: #ff6600;
    font-size: 25px;
    line-height: 70px;
}
.menu .menu_content .course .course_header .course_title p {
    margin: 0;
}
.menu .menu_content .course .course_header .course_title h4 a {
    font-size: 24px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 0px;
    display: block;
    color: black;
    text-decoration: none;
}
.menu .menu_content .course .course_header .course_content {
    margin-right: 15%;
}
