*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

/* Nav */
.navbar-toggler{
    border: none;
}
.offcanvas.offcanvas-end{
    width: 100%;
}
.fixed-top{
    position: absolute;
}
form input{
    position: relative;
}
form i{
    position: absolute;
    right: 195px;
    top: 35px;
    cursor: pointer;
}
/* Banner */
.banner{
    height: 100vh;
    background-image:linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url("../img/banner1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

.banner .banner__content{
    max-width: 600px;
    padding-top: 10rem;
}

.banner .banner__content h2{
    font-size: 3rem;
}
.banner .banner__content p{
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.banner .banner__content button{
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    background: none;
    text-align: center;
    color: white;
    transition: all 0.5s;
}
.banner .banner__content button:hover{
    color: #ff6600;
    background: white;
}
.banner .banner__content button:hover i{
    color: #ff6600;
}

/* About */
.about .about__content .about__left{
    padding-right: 25px;
}
.about .about__content .about__left h6{
    font-size: 20px;
    line-height: 30px;
    font-family: 'Pacifico', cursive;
    color: #ff6600;
}

.about .about__content .about__left h3{
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}

.about .about__content .about__right p{
    font-size: 18px;
    line-height: 28px;
    color: #161C2D;
}

/* Book */
.book .row{
    --bs-gutter-x: 0;
}

.book .book__left img{
    /* height: 85vh;
    background-image: url("../img/banner3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
    position: relative; */
    width: 100%;
    height: 507px;
    background-size: cover;
    background-position: center;
}
.book .book__left::before{
    content: "";
    background: rgb(16 15 19 / 46%);
    z-index: 9;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.book .book__right{
    background: #ff6600;
}

.book .book__right p{
    color: #fff;
}

.book .book__right p:first-child{
    font-size: 20px;
    line-height: 30px;
    font-family: 'Pacifico', cursive;
}

.book .book__right h3{
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}

.book .book__right .book__right__title{
    padding: 40px 95px 40px 40px;
}

.book .book__right .book__right__deals{
    padding-left: 40px;
    padding-right: 95px;
}

.book .book__right .book__right__deals .title p{
    cursor: pointer;
    color: black;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
    margin-top: 40px;
}

.book .book__right .book__right__deals .title span{
    font-size: 30px;
    background-color: rgba(255, 255, 255 );
    width: 100px;
    height: 100px;
    padding: 20px;
    color: #ff6600;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 10px;
}

.book .book__right .book__right__deals .title:hover span{
    color: #fcb900;
}

/* Categories */
.categories{
    background: #F7F7F7;
}

.categories .cate__title {
    padding: 40px 0;
    text-align: center;
    
}
.categories .cate__title p{
    font-size: 20px;
    color: #ff6600;
    font-family: 'Pacifico', cursive;
}
.categories .cate__title h3{
    font-size: 38px;
    font-weight: 600;
}

.categories .card .card-img-overlay{
    top: inherit;
}

.categories .card .card-img-overlay a{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}

.categories .card .card-img-overlay .card-text{
    font-size: 18px;
    font-weight: 600;
    color: #ffc600;
}

.categories .card a:hover{
    opacity: 0.8;
    transition: all 0.5s;
}

.categories .row{
    padding-bottom: 80px;
}

.icon{
    height: 70px;
    width: 70px;
    background: rgba(130, 115, 252, .05);
    border-radius: 10px;
}
.icon span{
    font-size: 25px;
    line-height: 70px;
    color: #ff6600;
}

.col-8 h5{
    color: rgba(22, 28, 45, 0.7);
}
.card__item .card:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: all 0.5s ;
}
.card__item .card:hover .icon{
    background-color: #ff6600;
    transition: all 0.5s ;
}
.card__item .card:hover .icon span{
    color: #fff;
    transition: all 0.5s ;
}

/* Delicious */
.delicious .card{
    border: inherit;
    border-radius: inherit;
}

.delicious .card .delicious__img{
    background-image: url("../img/banner2.jpg");
    background-size: cover;
    height: 450px;
    background-position: center;
}

.delicious .container .card-title{
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
}
.delicious .container .ps-5{
    padding-left: 15rem!important;
}
.delicious .container .pe-5{
    padding-right: 15rem!important;
}

.btn-left{
    padding-left: 3rem;
    padding-right: 3rem;
    border: 1px solid #fff;
    color: #fff;
}


.delicious a:first-child:hover{
    background-color: #F7F7F7;
    text-decoration: underline;
    color: #ff6600;
}
/* .btn-left:hover{
    background-color: #F7F7F7;
    text-decoration: underline;
    color: #ff6600;
} */

.btn-right{
    padding-left: 3rem;
    padding-right: 3rem;
    background: #ff6600;
    color: #fff;
}

.delicious a:last-child:hover{
    color: #fff;
    text-decoration: underline;
    opacity: 0.8;
}

.number{
    top: -60px;
}

.number h3{
    font-size: 42px;
    line-height: 62.4px;
}

.number p{
    font-size: 17px;
    color: #161C2D;
}
.number__icon span{
    font-size: 26px;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    line-height: 68px;
    background-color: #ff6600;
    color: #fff;
}
.number .card:hover{
    transform: translate(0,-2rem);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: all 0.5s;
}

/* POSTS */
.posts{
    background: #F7F7F7;
}

.posts .posts__title {
    padding: 40px 0;
    text-align: center;
    
}
.posts .posts__title p{
    font-size: 20px;
    color: #ff6600;
    font-family: 'Pacifico', cursive;
}
.posts .posts__title h3{
    font-size: 38px;
    font-weight: 600;
}

.posts .card{
    border: none;
}
.posts .card-body{
    background: #F7F7F7;
}

.posts .card-footer{
    border-top: none;
}