*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    scroll-behavior: smooth;
}

/* Nav */
.navbar-toggler{
    border: none;
}
.offcanvas.offcanvas-end{
    width: 100%;
}
.fixed-top{
    position: absolute;
}
form input{
    position: relative;
}
form i{
    position: absolute;
    right: 195px;
    top: 35px;
    cursor: pointer;
}
/* Banner */
.banner{
    height: 100vh;
    background-image:linear-gradient(to right, #ff6600, hsl(30deg 100% 1% / 20%)), url("../img/banner1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

.banner .banner__content{
    max-width: 600px;
    padding-top: 10rem;
}

.banner .banner__content h2{
    font-size: 3rem;
}
.banner .banner__content p{
    margin-top: 2rem;
    margin-bottom: 3rem;
}
.banner .banner__content button{
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    background: none;
    text-align: center;
    color: white;
    transition: all 0.5s;
}
.banner .banner__content button:hover{
    color: #ff6600;
    background: white;
}
.banner .banner__content button:hover i{
    color: #ff6600;
}

/* About */
.about .about__left{
    padding-right: 25px;
}
.about .about__left h6{
    font-size: 20px;
    line-height: 30px;
    font-family: 'Pacifico', cursive;
    color: #ff6600;
}

.about .about__left h3{
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}

.about .about__right p{
    font-size: 18px;
    line-height: 28px;
    color: #161C2D;
}

/* Book */
.book .row{
    --bs-gutter-x: 0;
}

.book .book__left img{
    /* height: 85vh;
    background-image: url("../img/banner3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150%;
    position: relative; */
    width: 100%;
    height: 507px;
    background-size: cover;
    background-position: center;
}
.book .book__left::before{
    content: "";
    background: rgb(16 15 19 / 46%);
    z-index: 9;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.book .book__right{
    background: #ff6600;
}

.book .book__right p{
    color: #fff;
}

.book .book__right p:first-child{
    font-size: 20px;
    line-height: 30px;
    font-family: 'Pacifico', cursive;
}

.book .book__right h3{
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
}

.book .book__right .book__right__title{
    padding: 40px 95px 40px 40px;
}

.book .book__right .book__right__deals{
    padding-left: 40px;
    padding-right: 95px;
}

.book .book__right .book__right__deals .title p{
    cursor: pointer;
    color: black;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    font-family: 'Quicksand', sans-serif;
    margin-top: 40px;
}

.book .book__right .book__right__deals .title span{
    font-size: 30px;
    background-color: rgba(255, 255, 255 );
    width: 100px;
    height: 100px;
    padding: 20px;
    color: #ff6600;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 10px;
}

.book .book__right .book__right__deals .title:hover span{
    color: #fcb900;
}

/* Categories */
.categories{
    background: #F7F7F7;
}

.categories .cate__title {
    padding: 40px 0;
    text-align: center;
    
}
.categories .cate__title p{
    font-size: 20px;
    color: #ff6600;
    font-family: 'Pacifico', cursive;
}
.categories .cate__title h3{
    font-size: 38px;
    font-weight: 600;
}

.categories .card .card-img-overlay{
    top: inherit;
}

.categories .card .card-img-overlay a{
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}

.categories .card .card-img-overlay .card-text{
    font-size: 18px;
    font-weight: 600;
    color: #ffc600;
}

.categories .card a:hover{
    opacity: 0.8;
    transition: all 0.5s;
}

.categories .row{
    padding-bottom: 80px;
}

.icon{
    height: 70px;
    width: 70px;
    background: rgba(130, 115, 252, .05);
    border-radius: 10px;
}
.icon span{
    font-size: 25px;
    line-height: 70px;
    color: #ff6600;
}

.col-8 h5{
    color: rgba(22, 28, 45, 0.7);
}
.card__item .card:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: all 0.5s ;
}
.card__item .card:hover .icon{
    background-color: #ff6600;
    transition: all 0.5s ;
}
.card__item .card:hover .icon span{
    color: #fff;
    transition: all 0.5s ;
}

/* Delicious */
.delicious{
    background-image: url("../img/banner2.jpg");
    background-size: cover;
    height: 450px;
    background-position: center;
    position: relative;
    z-index: 1;
}
.delicious::before{
    content: "";
    background: rgb(16 15 19 / 66%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: -1;
}
.delicious .card{
    border: inherit;
    border-radius: inherit;
}


.delicious .container .card-title{
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
}


.btn-left{
    padding-left: 3rem;
    padding-right: 3rem;
    border: 1px solid #fff;
    color: #fff;
}


.delicious a:first-child:hover{
    text-decoration: underline;
    color: #ff6600;
}
/* .btn-left:hover{
    background-color: #F7F7F7;
    text-decoration: underline;
    color: #ff6600;
} */

.btn-right{
    padding-left: 3rem;
    padding-right: 3rem;
    background: #ff6600;
    color: #fff;
}

.delicious a:last-child:hover{
    color: #fff;
    text-decoration: underline;
    opacity: 0.8;
}

.number{
    top: -60px;
}

.number h3{
    font-size: 42px;
    line-height: 62.4px;
}

.number p{
    font-size: 17px;
    color: #161C2D;
}
.number__icon span{
    font-size: 26px;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    line-height: 68px;
    background-color: #ff6600;
    color: #fff;
}
.number .card{
    z-index: 1;
}
.number .card:hover{
    transform: translate(0,-0.5rem);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: all 0.5s;
}

/* POSTS */
.posts{
    background: #F7F7F7;
}

.posts .posts__title {
    padding: 40px 0;
    text-align: center;
    
}
.posts .posts__title p{
    font-size: 20px;
    color: #ff6600;
    font-family: 'Pacifico', cursive;
}
.posts .posts__title h3{
    font-size: 38px;
    font-weight: 600;
}

.posts .card{
    border: none;
}
.posts .card-body{
    background: #F7F7F7;
}

.posts .card-footer{
    border-top: none;
}

.posts .footer__left{
    z-index: 1;
}
.posts .footer__right{
    z-index: 1;
}
.posts .footer__right:hover a{
    z-index: 1;
    color: #ff6600;
}
.posts .card .card-img-overlay{
    top: 400px;
}
.posts .card .card-img-overlay a{
    color: #ff6600;
}
.testimonials .testimonials__title{
    padding: 40px 0;
    text-align: center;
    
}
.testimonials .testimonials__title p{
    font-size: 20px;
    color: #ff6600;
    font-family: 'Pacifico', cursive;
}
.testimonials .testimonials__title h3{
    font-size: 38px;
    font-weight: 600;
}

.testimonials__slick img{
    width: 75px;
}

.testimonials__slick span{
    color: #ff6600;
    font-size: 22px;
}

blockquote{
    font-size: 24px;
    font-style: italic;
    font-weight: 600;
}

.testimonials__slick p{
    padding-left: 10rem!important;
    padding-right: 10rem!important;
}

.slick-dots li button:before{
    font-size: 12px;
}

.slick-dots li.slick-active button:before{
    color: #ff6600;
}

/* Footer */
footer{
    background: #000000;
}

.footer__main .row .col ul{
    list-style: none;
    padding-left: initial;
}
.footer__main .row .col ul li a{
    color: #a5a2a1;
}

.footer__main .row .col-4 p{
    
    color: #a5a2a1;
}

.footer__icon{
    font-size: 15px;
    background-color: rgba(255, 255, 255 );
    width: 30px;
    height: 30px;
    color: #ff6600;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 10px;
    padding: 8px;
}

.footer__main .row .col ul li a:hover{
    color: #ff6600;
}

.footer__main p{
    color: #F7F7F7;
}
.btn-primary{
    background-color: #ff6600;
    border: none;
}

.border-danger{
    border-color: #a5a2a1!important;
}
.footer__copyright p{
    color: #F7F7F7;
}

.footer__copyright a{
    color: #ff6600;
}

.offcanvas{
    background: #000000;
    opacity: 0.8;
}
.offcanvas-body{
    font-size: 20px;
    line-height: 48px;
}
.offcanvas-body ul li a{
    font-weight: 600;
}
.offcanvas-body ul li:hover a{
    color: #ff6600!important;
}
.btn-close{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 40px;
    top: 40px;
    overflow: hidden;
    border: none;
    background: #ff6600;
    color: #fff;
    border-radius: 10px;
}
/* right side bar */
.pull_right {
    float: right;
    position: fixed;
    right: 0px;
    top: 150px;
    width: 90px;
    z-index: 99999;
    text-align: center;
}
.toggle-right-sidebar span i{
    background: #0D1326;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #e6ebff;
    border-radius: 50px;
    font-size: 26px;
    cursor: pointer;
    opacity: .5;
}
.right-sidebar {
    width: 90px;
    position: fixed;
    z-index: 1000;
    right: 0px;
    top: 0;
    margin-top: 140px;
    transition: all .5s ease-in-out;
    overflow-y: auto;
}
.right-sidebar .bar_buttons {
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    padding: 40px 5px 10px;
    padding-top: 70px;
    background: #0D1326;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}
.right-sidebar .bar_buttons .button_content {
    border-top: 1px solid #41414d;
    padding-top: 30px;
}
.right-sidebar .bar_buttons a {
    display: block;
    color: #e6ebff;
    text-decoration: none;
    line-height: 24px;
    opacity: .6;
    margin-bottom: 20px;
    text-align: center;
}
.right-sidebar .bar_buttons span i {
    display: block;
}
.right-sidebar .bar_buttons span i{
    position: static;
    color: #e6ebff;
}
.right-sidebar .bar_buttons .button_content a:hover {
    opacity: 1;
    transition: 0.5s all;
}

/* Back to top */
.cd-top {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 100%;
    text-align: center;
    background: #ff6600;
    font-weight: bold;
    color: #fff;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 18px;
  }
  
  .js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s, background-color 0.3s;
  }
  
  .js .cd-top--is-visible {
    visibility: visible;
    opacity: 1;
  }
  
  .js .cd-top--fade-out {
    opacity: 0.5;
  }
  
  .js .cd-top:hover {
    background-color: var(--cd-color-3);
    opacity: 1;
  }

  

.js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s, background-color .3s
}

.js .cd-top--is-visible {
    visibility: visible;
    opacity: 1
}

.js .cd-top--fade-out {
    opacity: .5
}

.js .cd-top:hover {
    background-color: hsl(5, 76%, 62%);
    background-color: var(--cd-color-3);
    opacity: 1
}

  a:hover{
    color: #fff;
  }



  /* Modal Video */
  .modal{
    background:rgb(19 19 19 / 95%);
  }
  .modal-content{
    background-color:initial;
    border: none;
  }
  .btn-close-modal{
    font-size: 20px;
    color: #fff;
    padding-left: 620px;
  }
  .btn-close-modal:hover{
    color: #fff;
  }
  .video .video__img{
    background: url("../img/banner3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    min-height: 500px;
  }
  .video .video__img::before{
    content: "";
    background: rgb(16 15 19 / 66%);
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
  }
  .video-play-button {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    /* background: #fa183d; */
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
  }
  
  .video-play-button:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #ff6600;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
  }
  
  .video-play-button:after {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #fff;
    border-radius: 50%;
    transition: all 200ms;
  }
  
  .video-play-button:hover:after {
    background-color: darken(#ff6600, 10%);
  }
  
  .video-play-button img {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
  }
  
  .video-play-button span {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid #ff6600;
      border-top: 22px solid transparent;
      border-bottom: 22px solid transparent;
  }
  
  @keyframes pulse-border {
    0% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
      opacity: 0;
    }
  }
@media(max-width:480px){
    .posts .card .card-img-overlay{
        top: 550px;
    }
}
@media(max-width:576px)  {
    .nav__right form i{
        right: 70px;
        top: 27px;
    }
    .banner .banner__content p{
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }
    .banner .banner__content button{
        width: 200px;
        padding: 15px;
        border-radius: 10px;
        background: none;
        text-align: center;
        color: white;
        transition: all 0.5s;
    }

    .testimonials__slick p{
        padding-left: 2rem!important;
        padding-right: 2rem!important;
    }

    .posts .card .card-img-overlay{
        top: 550px;
    }
}

@media(max-width:1024px){
    form i{
        right: 105px;
    }
    .book .book__left img{
        height: 579px;
    }
    .posts .card .card-img-overlay{
        top: 330px;
    }
}